<div ng-controller="shell">

    <div>

        <div ng-hide="isTranslating || isFirstLoad" class="dissolve-animation">

            <p>
                <a ng-repeat="lang in langList" ng-click="setLang(lang.keyLang)">{{lang.valuelang}}</a>
            </p>

            <br />

            <br/>


            <div class="nav nav-tabs">
                <ul class="nav nav-tabs">
                    <li role="presentation" ng-repeat="nars in navBarLists" ng-class="{active : isActive(nars.href)}">
                        <a ng-href="{{nars.href}}" translate="">
                            {{ nars.text }}
                        </a>
                    </li>
                </ul>
            </div>


            

            
                <div>
                    <div ng-view="" class="shuffle-animation"></div>
                </div>
           

        </div>



    </div>
</div>
