<div ng-controller="shell">


    <div id="shell" class="ngAnimateOne" ng-if="!isTranslating && !isFirstLoad" style="position: absolute">

        <div dir="rtl" the-slider>
            <div dir="ltr">
                <div id="theNav">
                    <ul>
                        <li ng-repeat="nars in navBarLists" ng-class="{active : isActive(nars.href)}">
                            <a ng-href="{{nars.href}}" translate="">
                                {{ nars.text }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div the-Top>
            <p>
                <a ng-repeat="lang in langList" ng-click="setLang(lang.keyLang)">{{lang.valuelang}}</a>
            </p>
        </div>

        <div the-view>
            <div ng-view="" class="ngAnimateTwo" the-inner-view></div>
        </div>

        <span totop  >
            
        </span>
    </div>

</div>