
.f64 {
  font-size:64px;
}

.f48 {
  
  font-size:48px;

}
.f16 {
  
  font-size:16px;

}
.f24 {
  
  font-size:24px;

}


md-icon.f48 {
  padding-bottom: 24px;
}
md-icon.f64 {
  padding-bottom: 40px;
}

md-icon.f16 span {
  padding-left:4px;
}
md-icon.f24 span {
  padding-left:6px;
}
md-icon.f48 span {
  padding-left:12px;
}
md-icon.f64 span {
  padding-left:16px;
}