

<div class="section">

    <div translate="">{{message}}</div>



    <div layout-gt-md="row" layout="column">

        <md-input-container  flex>
            <label translate>{{message}}</label>
            <input ng-model="user.city">
        </md-input-container>


        <md-input-container flex >
            <label>State</label>
            <input ng-model="user.state">
        </md-input-container>


        <md-input-container  flex>
            <label>Postal Code</label>
            <input ng-model="user.postalCode">
        </md-input-container>
    </div>


</div>



